<div class="contact_cover text-center">
    <h3>Nos solutions vous intéressent ?<br> Remplissez ce formulaire, un membre de l’équipe vous contactera rapidement.</h3>
    <form class="form-horizontal col-sm-12 row">
        <div class="form-group col-sm-12">
            <div class="col-sm-12 row justify-content-between">
                <div class="form-group col-sm-4 col-4">
                    <input class="form-control required custom_input" placeholder="Nom" data-placement="top" data-trigger="manual" data-content="Doit faire au moins 3 caractères, et ne contenir que des lettres." type="text">
                </div>
                <div class="form-group col-sm-4 col-4">
                    <input class="form-control required email custom_input" placeholder="Email" data-placement="top" data-trigger="manual" data-content="Doit être une adresse Email valide (user@gmail.com)" type="text">
                </div>
                <div class="form-group col-sm-4 col-4">
                    <button ng-show="!vm.modalerror" class="btn btn-warning">ENVOYER</button>
                </div>
            </div>
        </div>
    </form>
</div>
